.LogoCarrito {
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 65px;
  margin-left: 93%;
  margin-top: 3px;
}

.NumeroCarrito {
  position: absolute;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  margin-left: 92%;
  margin-top: 3px;
  color: black;
}
